@font-face {
    font-family: 'Montserrat';
    src: url('../public/Montserrat/static/Montserrat-Light.ttf');
    font-family: 'B612 Mono';
    src: url('../public/B612_Mono/B612Mono-Regular.ttf');
}

* {
    font-family: 'B612 Mono';
    color: #FFF;
    box-sizing: border-box;
}

html {
    background-color: #0E0E12;
}

a {
    text-decoration: none;
}

.background {
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.circle {
    position: absolute;
    width: 1186px;
    height: 1186px;
    border-radius: 100%;
    background: radial-gradient(93.69% 93.69% at 37.23% 0%, rgba(127, 112, 233, 0.84) 0%, #3F2DBD 16.15%, rgba(3, 3, 3, 0.00) 100%);
    z-index: 1;
    left: 31rem;
}

.main-container {
    position: relative;
    z-index: 2;
}

a:hover {
    color: rgb(183, 54, 54);
}

/* Navbar */
.header {
    padding: 20px 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 16px 40px;
}

.logo-left {
    display: flex;
    align-items: center;
}

.nav-middle {
    display: flex;
    border: 1px  #5C5B63 solid;
    border-radius: 100px;
    gap: 40px;
    align-items: center;
    padding: 16px 40px;
    background: rgba(92, 91, 99, 0.50);
    box-shadow: 0px 4px 21px 6px rgba(126, 124, 124, 0.25);
    backdrop-filter: blur(7.5px);
}

ul {
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.projects {
    color: #9C8EFF;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}

.resume {
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}

.about {
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}

/* Profile Page */

.profile-container {
    display: flex;
    justify-content: center;
    width: 80.05559416261292vw;
}

span {
    color:  #9998B5;
}

.title {
    font-size: 120px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    margin: 120px 0 0 0;
}

.title-description {
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* about Page */
.aboutPage {
    text-align: center;
}

/* project 1 */ 
.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 5rem;
}

.project-title {
    position: absolute;
    z-index: 2;
    width: 100%;
    text-align: center;
    top: 120px;
}

.project-description {
    position: absolute;
    bottom: 0;
    z-index: 2;
    width: 100%;
    text-align: center;
}

.p1Img {
    z-index: 1;
    position: relative;
    border: 20px solid #1E1E2C;
    border-radius: 50px;
}

.img {
    border-radius: 35px;
}